.note-smaller-screen {
    width: 80%;
    margin: auto;
    border-radius: 10px;
    margin-top: 5%;
    white-space: pre-line;
    overflow-wrap: break-word;
  }
  
  .note-bigger-screen {
    width: 180px;

    height: 200px;
    border-radius: 10px;
    margin-top: 5%;
    white-space: pre-line;
    overflow-wrap:break-word;
  }
  
  .extra-actions {
    mat-card-actions, mat-icon {
      visibility: hidden;
    }
    &:hover {
      mat-card-actions, mat-icon{
        visibility:visible;
      }
    }
  }
  .card{
    box-shadow: 0 10px 30px rgba(233, 5, 5, 0.12), 0 1px 2px rgba(231, 76, 14, 0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  }
  
.background{
  mat-card-content{
    margin-top: 85%
  } &:hover {
    background-color: rgb(255, 109, 109);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px; 
  }
  width: 230px;

  position: absolute;
  right: 228px;
    height: 200px;
    border-radius: 10px;
    margin-top: 8%;
    background-color: rgba(0, 0, 0, 0.253)
}
.background1{
  mat-card-content{
    margin-top: 85%
  } &:hover {
    background-color: rgb(255, 109, 109);
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px; 
  }

  width: 230px;

  position: absolute;
  left: 280px;
    height: 200px;
    border-radius: 10px;
    margin-top: 8%;
    background-color: rgba(0, 0, 0, 0.253)
}
.new {
   margin-left: 43%;
}

.mat-toolbar {
    background: #000000;
    color: rgba(0,0,0,.87);
}


.signin{
  background-color: rgb(236, 59, 59);
  color:  white;
  margin-top: 10%
}