.mat-divider{
    border-top-color: rgb(0, 0, 0)
}
.next1-button{
    background-color: rgb(236, 59, 59);
    color: white;
    width: 100%;
  }
  .next1-button:hover{
    background-color: rgb(14, 13, 13);
    color: white;
    width: 100%;
  }
  
  
  .ubu:hover{
    background-color: rgb(7, 7, 7);
    color: white;
    width: 100%;
  }