<div (click)="$event.stopPropagation()" style="padding: 1.5em;">
    <mat-card-title>
      Reminder -
    </mat-card-title>
    
  
    <!-- <pre>
        later today   8:00 PM   
    </pre>

    <mat-divider></mat-divider>
    <pre>
        tomorrow      8:00 AM   
    </pre>

    <mat-divider></mat-divider>
    <pre>
        next week     Mon,8:00 AM   
    </pre> -->

   
    <div class="ubu"[matMenuTriggerFor]="appMenu" style="display: inline" fxLayout="row" fxLayoutAlign="space-around">
      <mat-icon>access_time</mat-icon>
      &nbsp;
      <ng-container style="margin-left: 10%">Pick Date and Time</ng-container>
      <mat-menu #appMenu="matMenu">
        <div style="display: inline;" fxLayout="row" fxLayoutAlign="space-around">
          <!-- <mat-icon >arrow_back</mat-icon> -->
          <ng-container > Pick Date and Time</ng-container>
        </div>
        <mat-divider></mat-divider>
        <!-- mat-form-field> -->
      
        <input matInput [matDatepicker]="picker" [formControl]="date" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        
        <!-- </mat-form-field> -->
        <input (click)="$event.stopPropagation()" matInput [formControl]="time" placeholder="enter time">
        <!-- <mat-divider></mat-divider> -->
        <button mat-raised-button class="next1-button" (click)="showTime()">save</button>
      </mat-menu>
    </div>
  
  </div>