@import "src/app/scss/styles.scss";
mat-card {
    background: #000000;
    color: rgba(255, 255, 255, 0.87);
  }
  .new{
  //  background:  rgb(1, 59, 90);
  background-image: url('./../../../../../pop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  }
  .yes {
    color: white
  }