<div fxFlexFill fxLayout="column" class="new">
  <div fxLayout="column" fxLayoutAlign="space-between center" style="margin:auto">

    <mat-card fxLayout="column" fxLayoutAlign="space-around center">

      <mat-card-title>
        <div class="blue-color"><strong>F</strong></div>
        <div class="red-color"><strong>U</strong></div>
        <div class="orange-color"><strong>N</strong></div>
        <div class="blue-color"><strong>D</strong></div>
        <div class="green-color"><strong>O</strong></div>
        <div class="red-color"><strong>O</strong></div>
        <div class="black-color">-</div>
        <div class="blue-color"><strong>N</strong></div>
        <div class="red-color"><strong>O</strong></div>
        <div class="orange-color"><strong>T</strong></div>
        <div class="blue-color"><strong>E</strong></div>
        <div class="green-color"><strong>S</strong></div>
      </mat-card-title>

      <mat-card-subtitle>
        Set your Fundoo Notes Account Password
      </mat-card-subtitle>

      <form [formGroup]="resetPasswordFormGroup">
        <mat-card-content fxLayout="column" fxLayoutAlign="space-around center">
          <mat-form-field appearance="outline">
            <mat-label class="yes">
              New Password
            </mat-label>
            <input formControlName="passwordFormController" type="password" matInput placeholder="Type new Password Here">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label class="yes">
              Confirm Password
            </mat-label>
            <input formControlName="confirmFormController" type="password" matInput placeholder="Confirm Password Here">
          </mat-form-field>
        </mat-card-content>
      </form>

      <mat-card-content>
        <button (click)="resetPassword()" mat-raised-button class="next-button">
          Change Password
        </button>
      </mat-card-content>


    </mat-card>
  </div>
</div>